:root {
    --primary-color: #e50914;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}

ul{
    list-style: none;
}

h1, h2, h3, h4 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0.5 rem 0;
}

img{
    width: 100%;
}

.showcase{
    width: 100%;
    height: 93vh;
    position: relative;
    background-image: url('../img/b');
}